.list {
    background-color: rgb(255,255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px 0;
    transition: transform 0.2s;
    text-emphasis-color: blue;
}

.divStyleWithBorder {
    border: 2px solid black;
    padding: 10px;
    margin: 10px 0;
}